.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    background-image: url("../images/Dark-Top-Wallpaper%20(1).jpg");
    background-size: cover;
    /*background-color: hsla(120, 100%, 50%, 0.1);*/
}

