.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    background-size: cover;
    /*background-color: hsla(120, 100%, 50%, 0.1);*/
}

table.fixed {
    table-layout: fixed;
}

table.fixed td {
    overflow: auto;
}

.page-title {
    margin-top: 0px;
    font-size: x-large;
    font-weight: bold
}

.form-input {
    width: 100%;
}

.div-input {
    display: inline-flex;
    width: 30%;
}

.div-error {
    display: inline-flex;
    width: 70%;
    align-content: center;
    padding-left: 10px
}

.div-wrapper {
    display: inline-flex;
    width: 100%
}

.input-error {
    border: none;
    background: none;
    color: red;
    font-size: small;
    width: 100%;
}