<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <beans:bean class="com.exodia.bom.config.DefaultRolesPrefixPostProcessor"/>

    <!-- enable use-expressions -->
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/forgotPassword" access="permitAll"/>
        <intercept-url pattern="/main" access="isAuthenticated()"/>
        <intercept-url pattern="/viewFirstLogin" access="isAuthenticated()"/>
        <intercept-url pattern="/updateFirstLogin" access="isAuthenticated()"/>
        <intercept-url pattern="/viewMyProfile" access="isAuthenticated()"/>
        <intercept-url pattern="/updateProfile" access="isAuthenticated()"/>
        <intercept-url pattern="/viewAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/exportAdmin" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/viewAddAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/addAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/resendEmail" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/viewEditAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/updateAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/deleteAdminAccount" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/downloadAccessLog" access="hasRole('ACCOUNT_MANAGER')"/>
        <intercept-url pattern="/viewPlayerAccount" access="hasRole('DATA_MANAGER')"/>
        <intercept-url pattern="/exportPlayer" access="hasRole('DATA_MANAGER')"/>
        <intercept-url pattern="/deletePlayerAccount" access="hasRole('DATA_MANAGER')"/>
        <intercept-url pattern="/viewDetailPlayerAccount" access="hasRole('DATA_MANAGER')"/>
        <intercept-url pattern="/viewSummaryData" access="hasRole('DATA_MANAGER')"/>
        <intercept-url pattern="/viewDetailByMonth" access="hasRole('DATA_MANAGER')"/>

        <!-- access denied page -->
        <access-denied-handler error-page="/WEB-INF/pages/error.jsp"/>
        <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                authentication-success-handler-ref="loginSuccessHandler"
                authentication-failure-handler-ref="loginFailedHandler"
                username-parameter="username"
                password-parameter="password"/>
        <logout invalidate-session="true"
                logout-url="/j_spring_security_logout"
                success-handler-ref="logoutHandler"/>

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService">
            <password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="loginSuccessHandler" class="com.exodia.bom.handler.LoginSuccessHandler"></beans:bean>
    <beans:bean id="loginFailedHandler" class="com.exodia.bom.handler.LoginFailedHandler"></beans:bean>
    <beans:bean id="logoutHandler" class="com.exodia.bom.handler.LogoutHandler"></beans:bean>
</beans:beans>